{% extends "account/base_entrance.html" %}
{% load i18n %}

{% block content %}
  <div class="flex justify-center items-center min-h-screen">
    <div class="bg-base-200 p-6 rounded-box shadow-md w-xs text-center">
      <h2 class="text-lg font-semibold mb-4">Verifique seu Email</h2>
      <p class="text-base">
        Um link para redefinir sua senha foi enviado para seu endereço de e-mail.
      </p>
      <a href="{% url 'account_login' %}" class="btn btn-success mt-4">Voltar ao Login</a>
    </div>
  </div>
{% endblock %}
