{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% load static %}

{% block content %}
<div class="flex justify-center items-center min-h-screen">
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4 mx-auto shadow-md">
    <legend class="fieldset-legend text-lg font-semibold text-center">
      <img src="https://furiagg.fbitsstatic.net/sf/img/logo-furia.svg?theme=main&v=202503171541" class="w-20 mx-auto mb-2">
      <img src="{% static 'badfallen.png' %}" class="w-14 mx-auto">
    </legend>

      <h2 class="text-center text-xl font-bold mb-4">Redefinir Senha</h2>

      <form method="POST" action="{% url 'account_reset_password' %}">
        {% csrf_token %}

        <label for="id_email" class="label">Email</label>
        <input
          type="email"
          name="email"
          id="id_email"
          class="input w-full"
          placeholder="Digite seu email"
          required
          autocomplete="email"
        />

        {% if form.errors %}
          <div class="text-red-500 text-sm mt-2">
            {% for error in form.email.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}

        <button type="submit" class="btn btn-success mt-4 w-full">Enviar link de redefinição</button>
      </form>

      <div class="mt-4 text-center">
        <a href="{% url 'account_login' %}" class="text-blue-500 hover:underline">Voltar ao login</a>
      </div>
    </fieldset>
  </div>
{% endblock %}
